Checks: '
    cppcoreguidelines-*,
    readability-*,
    modernize-*,
    boost-*,
    clang-analyzer-*,
    concurrency-*,
    performance-*,
    readbility-*,
    -cppcoreguidelines-macro-usage,
    -readability-function-cognitive-complexity,
    -cppcoreguidelines-avoid-magic-numbers,
'
HeaderFilterRegex: '^(?!.*(deps)/).*'